h1 {
  text-align: center;
  font-family: serif;
  color: orangered;
}

hr {
  margin: 15px 100px 15px 100px;
  border-bottom: 2px solid gray;
}

h3 {
  margin: 5px 130px 5px 0px;
  text-align: right;
}

.loginForm {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

#todoSrNo {
  visibility: hidden;
}

.titleAndDesc {
  font-size: 20px;
}

#todoDescription {
  width: 200px;
  height: 40px;
}

#displayTasks {
  text-align: left;
  margin-left: 500px;
  font-size: 20px;
}

#taskCheckbox {
  width: 18px;
  height: 18px;
}

#addTaskInput {
  visibility: hidden;
  width: 200px;
}

#addTask {
  visibility: hidden;
}

#saveButton {
  visibility: hidden;
}

#todoTitles {
  font-size: 20px;
}

h4 {
  margin-left: 200px;
  font-weight: normal;
  font-size: 20px;
}

#viewTasks {
  margin-left: 250px;
}