h1 {
  text-align: center;
  font-family: serif;
  color: orangered;
}

hr {
  margin: 15px 100px 15px 100px;
  border-bottom: 2px solid gray;
}

h3 {
  margin: 5px 130px 5px 0px;
  text-align: right;
}

.loginForm {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

#addTaskInput {
  width: 200px;
}