h1 {
  text-align: center;
  font-family: serif;
  color: rgba(38, 45, 194, 0.87);
}

hr {
  margin: 15px 100px 15px 100px;
  border: 0px;
  height:3px;
  border-bottom: 2px solid rgb(255, 0, 0);
}

.loginForm {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

#todoID {
  visibility: hidden;
}

.titleAndDesc {
  font-size: 20px;
}

#todoDescription {
  width: 200px;
  height: 40px;
}

#displayTasks {
  text-align: left;
  margin-left: 500px;
  font-size: 20px;
}

#taskCheckbox {
  width: 18px;
  height: 18px;
}

#addTaskInput {
  visibility: hidden;
  width: 200px;
}

#addTask {
  visibility: hidden;
}

#saveButton {
  visibility: hidden;
}

#todoTitles {
  font-size: 20px;
}

h4 {
  margin-left: 200px;
  font-weight: normal;
  font-size: 20px;
}

#viewTasks {
  margin-left: 250px;
}

#saveTodoButton {
  visibility: hidden;
}

#deleteTodoButton {
  visibility: hidden;
}

#addTaskInputInEdit {
  visibility: hidden;
  width: 200px;
}

#addTaskInEdit {
  visibility: hidden;
}

#saveTodoButtonInEdit {
  visibility: hidden;
}

.subDiv {
  display: inline-block;
  margin-top: 7%;
  margin-left: 2%;
  margin-right: 2%;
}

.options {
  width:175px;
  height:175px;
}

h5 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
}

.logout{
  color: rgb(159, 84, 35);
  margin: 5px 130px 5px 0px;
  text-decoration: none;
  font-size: 20px;
  float: right;
}

.container{
  margin-top:2%;
  margin-left: 10.5%;
}

input[type="text"]{
 width:200px;
 height:20px;
 font-size: 15px;
 border-radius: 3px;
 border: 1px solid darkGray;
 font-family: sans-serif;
}

textarea{
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid darkGray;
  font-family: sans-serif;
}

label{
  font-family: sans-serif;
}

.mainForm{
  text-align: center;
  padding:0px;
  margin-top: 2%;
  margin-left:10%;
}

.greet {
  font-size: 25px;
  font-weight: lighter;
  font-family: sans-serif;
}
